{% extends "base.html" %} {% block main %}
<div class="row">
  <div class="col-xxl-2 col-xl-2 col-lg-2 col-md-2 col-sm-4 col-xs-6">
    {% for cat in bookCategories %}
    <ul>
      <li> {{ forloop.counter }} <a href="{% url 'category' slug=cat.slug %} "> {{ cat.name }}</a></li>
    </ul>
    {% endfor %}
  </div>
  <div class="col-xxl-10 col-xl-10 col-lg-10 col-md-10 col-sm-8 col-xs-6">
    <div class="grid">
      {% for book in books %}
      <div class="card">
        <div class="card__header">
          <h3>{{ book.title }}</h3>
          <p class="contri">{{ book.contributor.all|join:", " }}</p>
          <p class="language">{{ book.language }}</p>
        </div>
        <div class="card__body">
          <p>{{ book.description }}</p>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
